/* Font */
$font: 'Lato', sans-serif;

/* Font weight */
$regular-weight: 400;
$bold-weight: 700;

/* Colors */
$background-color: #f2f1ef;
$nav-color: #222222;
$hero-text-color: #f2f1ef;
$hero-button-color: #51e3c2;
$hero-button-outline: #222222;
$hero-button-text:#262628;
$hero-button-hover: #f2f1ef;
$how-to-header: #262628;
$how-to-block:#262628;
$how-to-separator: #51e3c2;




body, html {
    font-family:$font;
    background-color: $background-color;
    width:100%;
    height:100%;
    margin: 0;
    transition: all .2s linear;
}


/* Navigation   */    
nav {
    background-color: $nav-color;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    .logo {
        height: 20px;
        width: 150px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 15%;
    }
}

/* Hero Section */

.hero-image{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-text{
    position: absolute;
    color: $hero-text-color;
    top: 50%;
    left: 15%;
    transition: all .2s linear;
}

.hero-small-header{
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-big-header{
    font-size: 50px;
    font-weight: $regular-weight;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-paragraph{
    font-size: 15px;
    width: 55%;
    margin-bottom: 20px;
}


/* Hero Button */
.hero-button{
    border-radius: 35px;
    padding: 8px 30px;
    background-color: $hero-button-color;
    border-color: $hero-button-outline;
    font-size: 16px;
    font-weight: $bold-weight;
    &:hover {
        background-color:$hero-button-hover;
    }
}


/* How it works */
h1{
    text-align: center;
    color: $how-to-header;
    font-weight: $regular-weight;
    margin-bottom: 5px;
}

.how-to-row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10%;   
}

.how-to-container{
    flex: 1;
    margin: 10px 20px;
    text-align: center;
    transition: all .2s linear;
    &:hover{
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: 0.2s ease-out;
    }
}

.how-number{
    font-weight:$regular-weight;
    font-size: 50px;
    margin: 0;
}

.how-heading{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.how-paragraph{
    margin-top: 5px;
    font-size: 15px;
}

hr {
    color:$how-to-separator;
    background-color: $how-to-separator;
    width: 60px;    
    height: 5px;
    border: 0;
}

a {
  color: #222222;
  text-decoration: none;
}


/* Media Queries */

@media screen and  (max-width:1250px) {
    .hero-text{
        position: absolute;
        color: $hero-text-color;
        top: 30%;
        left: 15%;
        }
}

@media screen and  (max-width:1020px) {
    .hero-text{
        position: absolute;
        color: $hero-text-color;
        top: 15%;
        left: 15%;
        }
}

@media screen and  (max-width:1050px) {
    .how-to-container{
        flex-basis: 40%;
    }
}

@media screen and  (max-width:1020px) {
    .hero-text{
        position: absolute;
        color: $hero-text-color;
        top: 15%;
        left: 15%;
        }
    .hero-paragraph{
        width: 70%;
    }
}

@media screen and  (max-width:760px) {
    .hero-text{
        position: absolute;
        color: $hero-text-color;
        top: 10%;
        left: 15%;
        }
    .hero-big-header{
        font-size: 40px;
    }
    .hero-paragraph{
        width: 90%;
    }
    .how-to-container{
        flex-basis: 50%;
    }
}

@media screen and  (max-width:620px) {
    .hero-text{
        position: absolute;
        color: $hero-text-color;
        top: 5%;
        left: 15%;
        }
    .hero-big-header{
        font-size: 30px;
    }
}

@media screen and  (max-width:480px) {
    .hero-button{
        margin-top: 20px;
    }
    .hero-paragraph{
        display: none;
    }
}

@media screen and (max-width:440px){
    .hero-small-header{
        font-size: 15px;
    }
    .hero-big-header{
        font-size: 20px;
    }
}


